@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


@font-face {
    font-family: Neue machina;
    src: url(fonts/NeueMachina/NeueMachina-Regular.otf);
}
@font-face {
    font-family: Le Jour Serif;
    src: url(fonts/LeJourSerif.ttf);
}

@font-face {
    font-family: Romans story;
    src: url(fonts/Romansstorydemo-2OK3X.otf);
}

@font-face {
    font-family: Clashgrotesk;
    src: url(fonts/Fonts/OTF/ClashGrotesk-Light.otf);
}

@font-face {
    font-family: Ogg Roman;
    src: url(fonts/OggRoman.ttf);
}

.section-19.section--timeline {
    min-height: auto;
}

@media screen and (max-width: 991px){
    .section-19 {
        padding-right: 24px;
        padding-left: 24px;
    }
}

.section-19 {
    padding: 64px;
}

* {
    outline: 0;
    user-select: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-appearance: none;
    -ms-user-select: none;
    -moz-user-select: none;
    appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Neue machina';
    color: #000;
    font-size: 1.1111111111111112vw;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.section-17.noverflow.is-flip.is-t-less {
    overflow: hidden;
    padding-top: 8em;
    padding-bottom: 8em;
    background-color: transparent;
}

.section-17.noverflow.is-flip.is-t-less {
    overflow: hidden;
    padding-top: 8em;
    padding-bottom: 18.9em;
    background-color: transparent;
}
.noverflow {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.section-17 {
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    padding: 8em 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #e5e5e5;
}

.div-block-250.sircle {
    top: 210px;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.div-block-250 {
    position: absolute;
    width: 420px;
    height: 420px;
    border: 5px none #000;
    border-radius: 100%;
    background-color: #c9c0ac;
}

.txt-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Ogg roman', sans-serif;
    font-size: 1vw;
}

.mbm-ex-div-2 {
    margin-bottom: 20px;
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-perspective: 40em;
    perspective: 40em;
    -webkit-perspective-origin: 50% 0%;
    perspective-origin: 50% 0%;
}

.ivy-xl-11._1 {
    font-family: 'Romans story', sans-serif;
    color: #101010;
    font-size: 8em;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-transform: uppercase;
}

@media screen and (max-width: 991px)

{.ivy-xl-11 {
    font-size: 11.7em;
}
}

.ivy-xl-11 {
    position: relative;
    z-index: 5;
    margin-right: -12px;
    margin-left: -30px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    font-family: 'Le jour serif', sans-serif;
    color: #101010;
    font-size: 9.5em;
    line-height: 0.9em;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.mbm-ex-div-2 {
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-perspective: 40em;
    perspective: 40em;
    -webkit-perspective-origin: 50% 0%;
    perspective-origin: 50% 0%;
}

.container-17.is-flip {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: transparent;
}
.container-17 {
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    width: 100%;
    max-width: 1600px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #e5e5e5;
}

.txt-row.is-8 {
    margin-bottom: 10px;
    padding-right: 10%;
    padding-left: 10%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.txt-row.is-8 {
    padding-right: 10%;
    padding-left: 10%;
}

.ivy-xl-11._2 {
    font-family: 'Romans story', sans-serif;
    color: #101010;
    font-size: 4em;
}

.text-span-5 {
    font-weight: 400;
}

.clash-xl-4._4 {
    font-family: 'Romans story', sans-serif;
    color: #101010;
    font-size: 4em;
}


.clash-xl-4 {
    position: relative;
    z-index: 5;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    font-family: 'Ogg roman', sans-serif;
    color: rgba(94, 138, 97, 0.76);
    font-size: 6em;
    line-height: 0.9em;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.paragraph-42 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    margin-left: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Clashgrotesk, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    text-align: left;
}

.txt-row.is-25._33._22 {
    margin-top: 10px;
}
@media screen and (max-width: 991px){
.txt-row.is-25 {
    padding-left: 18%;
    }
}
.txt-row.is-25 {
    overflow: visible;
    padding-right: 10%;
    padding-left: 10%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ivy-xl-11._33333 {
    font-family: 'Romans story', sans-serif;
    color: #101010;
    letter-spacing: 0em;
}

.txt-row.is-25._33._22 {
    margin-top: 10px;
}

.button {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-right: -3px;
    margin-left: -3px;
    padding: 20px 45px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    color: #000;
    font-size: 1.4em;
    line-height: 1em;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: inherit;
}


.button.is-xl._3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    border-color: #101010;
    background-image: none;
}

.button-txt-4 {
    font-size: 21px;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
}

@media screen and (max-width: 991px)
{
    .button-txt-4.is-abs {
        display: none;
    }
}

.button-txt-4.is-abs {
    position: absolute;
    overflow: visible;
    background-image: none;
    font-size: 21px;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
}

@media screen and (max-width: 991px){
    .button.is-xl {
        font-size: 28px;
    }
}


@media screen and (max-width: 991px){
    .button.is-xl {
        margin-right: 0px;
        font-size: 28px;
    }
}



.section.overflow-hidden {
    overflow: hidden;
}
.section {
    position: static;
    display: block;
}

.container.is--footer {
    display: block;
    padding-bottom: 1em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 991px)
{
    .container {
        padding-right: 2em;
        padding-left: 2em;
    }

}

.container {
    width: 1920px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 5.21em;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border: 1px solid rgba(255,248,242,.2);
}

.d-flex._w-50 {
    width: 50%;
}
.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1.6em 1em 1em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-left {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 35%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.logo-container {
    width: 7em;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
a {
    color: inherit;
}
a {
    background-color: transparent;
    font-size: 1em;
    text-decoration: none;
}

.html-embed-4 {
    width: 7em;
}

.w-embed:after, .w-embed:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

svg:not(:root) {
    overflow: hidden;
}


.cls-1 {
    fill: currentColor;
}
.cls-1 {
    fill: currentColor;
}
.cls-1, .cls-2 {
    fill: currentColor;
}

.footer-center {
    width: 60%;
    padding: 2em;
    border: 1px rgba(255,248,242,.2);
}


.footer-menu-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin-bottom: 4em;
}

.mr-m {
    margin-right: 8em;
}
.footer-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.div-hide.mb-small {
    display: block;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    background-color: transparent;
}

.mb-small {
    margin-bottom: 1em;
}
.div-hide {
    position: relative;
    z-index: 10;
    display: block;
    overflow: hidden;
    background-color: transparent;
}

.animate-line {
    display: inline-block;
    position: relative;
    overflow-x: hidden;
}
.footer-menu-link {
    display: inline-block;
}

.animate-line::after {
    pointer-events: none;
    background-color: var(--animate-line-color);
    content: "";
    height: 1.5px;
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 0%;
    transition: width var(--animate-line-ease) var(--animate-line-speed);
}

.footer-contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.contact-item {
    display: inline-block;
    text-decoration: underline;
}

.footer-right {
    width: 50%;
    padding: 2em;
}

.footer-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: transparent;
}

.footer-bottom-item {
    color: #fff8f2;
    font-size: 1em;
}

.underline {
    text-decoration: underline;
}

.newsletter-text-field {
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 #b7afa8;
    background-color: transparent;
}
.w-input, .w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.newsletter-btn-wrapper {
    position: absolute;
    left: auto;
    top: 45%;
    right: 50px;
    bottom: auto;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
@media screen and (max-width: 991px)
{
    .footer-newsletter {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 30em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}

.newsletter-btn-arrow {
    width: 2em;
    max-width: 24px;
    opacity: .9;
}

.w-embed:after, .w-embed:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
input.w-button {
    -webkit-appearance: button;
}
.newsletter-submit-btn {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}
.w-button {
    display: inline-block;
    padding: 9px 15px;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}
input {
    line-height: normal;
}
